@import "mixin.scss";

$main-color: #516bb4;
$second: #303030;
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    h1 {font-size: 34px;}
    h3 {font-size: 25px;}
}
html {
    scroll-behavior: smooth;
    
}

header { 
    #navbar {
        display: flex;
        position: absolute;
        top: 0;
        justify-content: flex-end;
        width: 100%;
        color: #eee;
        border-bottom: 1px solid #eee;
        ul {
            display: flex;
            padding-top: 15px;
            padding-bottom: 15px;
            li {
                padding-right: 50px;
                list-style-type: none;
                color: #eee;
            }
        } 
        @include mobil {
         display: none;       
        }
    }
     
    .hero {
        display: flex;
        //justify-content: center;
        //align-items: center;
        height: 100vh;
        background-color: #343434;
        background-image: url('./pics/office_1920.jpg');
        background-position: 0% 0%;
    
    @include tablet820 {
        background-image: url('./pics/officemed.jpg');
        background-position: 80% 100%;
        height: auto;
    }
    
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-attachment: fixed;    
        .intro {
            margin-top: 250px;
            width: 50%;
            padding: 20px 20px;
            text-align: center;
            border-radius: 50px;
            @include tablet820 {
                width: 100%;  
            }
            @include mobil {
              margin-top: 50px;  
            }
        }
        
        h1 {
            color: #eee;
            margin-bottom: 40px;
            @include mobil {
             font-size: 25px;   
            }
        }
        h3 {
            margin-bottom: 40px;
            color: #eee;
            @include mobil {
             font-size: 18px;   
            }
            }
        p {
            font-size: 19px;
            color: #eee;
            width: 50%;
            margin: 0 auto 20px auto;
            line-height: 1.3;
            @include mobil {
             width: 100%;
             line-height: 1.5;  
            }
        }

        a {
            display: flex;
            align-self: center;
            text-decoration: none;
            width: fit-content;
            margin: 40px auto;
            padding: 8px 12px;
            border: none;
            background-color: $second;
            color: #eee;
            font-size: 20px;
            letter-spacing: 1px;
            border-radius: 10px;
            cursor: pointer;
        }
       
    }
    a.arrow {
        display: block;
        position: absolute;
        top: 70%;
        left: 50%;
        background-color: #a7a7a77e;
        border-radius: 50%;
        padding: 5px 5px 0 7px;
        @include tablet820 {
            display: none;
        }
     }
   
}
#about {
    //background-color: #bebebe;
    background-image: url('./pics/worklg.jpg');
    @include tablet820 {
        background-image: url('./pics/workmed.jpg');
        
    }
    background-color: #ffffffd5;
    background-blend-mode: overlay;
    //background-attachment: fixed;
    background-position: 0% 100%;
    padding: 20px 10px 30px 10px;
    
    h1 {
        @include title;
        @include tablet820 {
            width: 40%;
        }
        @include mobil {
            width: 100%;
        }
    }
    .card {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
        @include tablet820 {
            flex-direction: column;
        }
        .resp {
            width: 400px;
            text-align: center;
            @include tablet820 {
                width: auto;
                margin-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;
            }
            h3 {
                color: $main-color;
                margin-bottom: 10px;
            }
            p {
                font-size: 21px;
                margin-top: 5px;
            }
        }
        
    }
}
#ref {
    background-image: url('./pics/work/mac1920.jpg');
    background-color: #ffffffe3;
    background-blend-mode: overlay;
    background-position: 0 0;
    background-attachment: fixed;
    padding-bottom: 20px;
    //margin-bottom: 20px;
    h1 {
        @include title;
        @include tablet820 {
            width: 40%;
        }
        @include mobil {
            width: 100%;
        }
    }
    h3 {
        width: 40%;
        margin: 10px auto 50px auto;
        text-align: center;
        color: $second;
        line-height: 1.4;
        @include tablet820 {
          width: 90%;  
        }
    }
    .work {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
        @include tablet820 {
          flex-direction: column;
          justify-content: center;
          align-items: center;  
        }
        img {
            width: 350px;
            border: 3px solid $main-color;
            @include tablet820 {
                width: 70%;
            }
            
        }
        p {
            width: 350px;
            font-size: 21px;
            align-self: center;
            padding-bottom: 10px;
            padding-top: 10px;
            @include tablet820 {
                width: 70%;
                font-size: 22px;
            }
        }
    }
    
}
#me {
    background-image: url('./pics/reflarge.jpg');
    @include tablet820 {
        background-image: url('./pics/refmed.jpg');
    }
    background-color: #eeeeee93;
    background-blend-mode: overlay;
    background-attachment: fixed;
    padding-bottom: 20px;
    h1 {
        @include title;
        @include tablet820 {
            width: 40%;
        }
    }
    p {
        padding-left: 300px;
        width: 600px;
        font-size: 20px;
        line-height: 1.8;
        color: #383838;
        text-align: center;
        @include tablet820 {
            padding-left: 0px;
            width: 90%;
            margin: 5px auto;  
        }
    }
}
footer {
    
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    @include tablet820 {
        flex-direction: column;
      justify-content: center;
      align-items: center; 
    }
    a,p {
        color: #eee;
        text-decoration: none;
    }
    background-color: $main-color;
    .footericon,p {
        font-size: 25px;
        @include tablet820 {
            font-size: 19px;
            padding-bottom: 10px;
        }
    }
    span {
        padding-left: 5px;
    }
}
